In [4]:
import pandas as pd
df = pd.DataFrame({'col1': [1,2,3,4], 'col2': [444,555,666,444], 'col3': ['abc', 'def', 'ghi', 'xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      int64
 1   col2    4 non-null      int64
 2   col3    4 non-null      object
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [8]:
df.memory_usage()

Index    132
col1      32
col2      32
col3      32
dtype: int64

## Informações sobre valores exclusivos

In [11]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [13]:
df['col2'].unique() # retorna os valores unicos do dataframe

array([444, 555, 666], dtype=int64)

In [15]:
df['col2'].nunique() # quantidade de valores unicos no dataframe

3

In [17]:
df['col2'].value_counts().index

Index([444, 555, 666], dtype='int64', name='col2')

# Aplicando funções

In [20]:
def comp(x):
    return x ** 2 + 3

In [22]:
df['col1'].apply(comp)  # aplica a função no dataframe

0     4
1     7
2    12
3    19
Name: col1, dtype: int64

In [24]:
df['col1_calc'] = df['col1'].apply(comp)

In [26]:
df

   col1  col2 col3  col1_calc
0     1   444  abc          4
1     2   555  def          7
2     3   666  ghi         12
3     4   444  xyz         19

In [28]:
df['col1'].apply(lambda x: x ** 2 + 3)

0     4
1     7
2    12
3    19
Name: col1, dtype: int64

In [30]:
df['col1'].sum()

10

In [32]:
df['col1'].mean()

2.5

In [34]:
df['col1'].product()

24

In [36]:
df['col1'].std()

1.2909944487358056